<md-dialog aria-label="Swaggie-label" class="aj-dialog-fullscreen">
	<md-toolbar class="md-whiteframe-z2" layout="row">
		<md-button class="aj-no-margin" aria-label="Back" ng-click="close()">
			<ng-md-icon icon="chevron_left" size="32" style="height:32px; width:32px;"></ng-md-icon>
		</md-button>
		<h1 class="md-toolbar-tools aj-no-padding">Settings</h1>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<p>There should be some settings here!</p>
		</div>
	</md-dialog-content>
</md-dialog>